<!DOCTYPE html>
<html lang="en">
<head>
  <title>TC-hunter report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>TC-hunter report</h1>
  <p>The predicted insertion sites are ranked based on the number of highly scored supplementary aligned and softclipped reads that can be detected in both host and construct genome</p> 
</div>


