params {
	

	// ----------------- General --------------------------------

	workingDir = '' // Working directory path
	tc_hunter_path = '' // TC_hunter path 	
	construct_file = '' // file

	construct_length = // number
	construct_name = '' // Name most match reference sequence identfier
	mapq = 30 // mapping quality threshold for soft clipped links 
	supporting_reads = 1 // number of reads that neads to support an insertion site to be called, default is 1 



	// ----------------- TC_hunter.nf ------------------------

	// Add path to joint reference file plus bam file
	bam = '' // path to bam folder with an asterix e.g. bamfiles/*bam
	reference = '' // concatenated fasta file with host and construct sequence  




	// ----------------- TC_hunter_BWA.nf --------------------------------

	bwa_threads = 8

	// Add path to fastq-files. If you're running several samples at the same time, add path to directory with folders of specific samples. If you're running one samples at a time; add the path to folder containing fastq-files. 

	host_reference = '' // fasta file
	construct_ref = '' // fasta file

	folder = '' // folder with samples 
	sample = '' // folder with R1.fa + R2.fa

}
