// Example config file. 


params {
	

	// ----------------- General --------------------------------

	workingDir = '<b>/Users/Anthony/Documents/Trangenic_insertion<\b>' // Working directory path
	tc_hunter_path = '/Users/Anthony/Desktop/TC-hunter' // TC_hunter path 	
	construct_file = '/Users/Anthony/Documents/Trangenic_insertion/construct.txt' // file

	construct_length = 20000 // number
	construct_name = 'My_construct' // Name 
	mapq = 60 // mapping quality threshold for soft clipped links 



	// ----------------- TC_hunter.nf ------------------------

	// Add path to joint reference file plus bam file
	bam = '/Users/Anthony/Documents/WGS_data/bam_file/*bam' // path to bam folder with an asterix e.g. bamfiles/*
	reference = '/Users/Anthony/Documents/WGS_data/joint_refernce.fasta' // fasta file



	// ----------------- TC_hunter_BWA.nf --------------------------------

	// Add path to fastq-files. If you're running several samples at the same time, add path to directory with folders of specific samples. If you're running one samples at a time; add the path to folder containing fastq-files. 

	host_reference = '' // fasta file
	construct_ref = '' // fatsa file

	folder = '' // folder with samples 
	sample = '' // folder with R1.fa + R2.fa
