params {
	//links
	mapq = 30 // mapping quality threshold for soft clipped links 
	



	// ----------------- General --------------------------------

	workingDir = '/jumbo/WorkingDir/B19-001/Intermediate/tc_wgsim_igv' // Working directory path
	tc_hunter_path = '/jumbo/WorkingDir/B19-001/TC_hunter' 	
	construct_file = '/jumbo/WorkingDir/B19-001/Intermediate/tc_wgsim/construct.txt'

	params.dry_run = ''
	params.dry_run_softclipped = '/jumbo/WorkingDir/B19-001/Intermediate/tc_wgsim/softclipped.sam'



	// ----------------- If not mapping ------------------------

	bam = '/jumbo/WorkingDir/B19-001/Intermediate/wgsim/PPM1D_M42_BWA_sorted.bam.bam' // path to bam file
	reference = '/jumbo/WorkingDir/B19-001/Data/Raw/Ref/JointRefGenome.fasta'

	construct_length = 9400
	construct_name = 'Wip1'




	// ----------------- Bwa mem mapping --------------------------------

	host_reference = ''
	construct_ref = ''

	fasta1 = ''
	fasta2 = ''

}

